<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todos</h1>
</section>
<div class="container">
    <div class="add-todo-box">
        <form #forms="ngForm" (ngSubmit)="onFormSubmit(forms)">
            <h2 class="title is-5 mb-3">New Todo</h2>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Type todo text here ..." ngModel #textField="ngModel"
                        name="text" required minlength="2">
                </p>
                <p class="control">
                    <button class="button common_btn">
                        <i class="material-icons">add</i>
                        Add
                    </button>
                </p>
            </div>
            <div *ngIf="textField.invalid">
                <!-- <p class="help is-danger" *ngIf="textField.value == null">Please enter text of your Todo</p> -->
                <p class="help is-danger" *ngIf="textField.value < 3">Todo text must be at least 2 character</p>
            </div>
        </form>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="todos_list">
            <div class="todo_item" *ngFor="let todo of todos" [class.completed]="todo.completed">
                <div class="check_box">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo_text">{{todo.text}}</div>
                <div class="action_btn">
                    <div class="edit_btn">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="edit_btn">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>